
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="/assets/javascripts/mesure.js"></script>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/theme.css" rel="stylesheet">
</head>
<body ng-app="myApp">

	<script type="text/ng-template"  id="dataGroups.html">
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" style="padding-top: 20px;">
					<button class="btn btn-info" ng-click="data.collapsed=!data.collapsed" style="width: 200px;float: left; padding:0px 10px 0px 10px;">
						<h6 style="float: left;">Processus</h6>
						<h6 style="float: left;" ng-show="data.dataGroups.length > 0 && !data.collapsed">+</h6>
						<h6 style="float: left;" ng-show="data.dataGroups.length > 0 && data.collapsed">-</h6>
					</button>
					
					<form class="form-inline" role="form">
						<div class="form-group">
							<input type="text" class="form-control" ng-model="data.name"></input>
						</div>
					</form>
					
					<div ng-show="data.collapsed">
						<table class="table table-striped">
							<tr>
								<td width="35%"><strong>Groupe de donnees</strong></td>
								<td width="5%"><strong>E</strong></td>
								<td width="5%"><strong>X</strong></td>
								<td width="5%"><strong>R</strong></td>
								<td width="5%"><strong>W</strong></td>
								<td width="10%"><strong>Total</strong></td>
								<td width="30%"><strong>Commentaire</strong></td>
								<td width="5%">&nbsp;</td>
							</tr>
							<tr ng-repeat="dataGroups in data.data_groups">
								<td>{{dataGroups.name}}</td>
								<td>{{dataGroups.entry}}</td>
								<td>{{dataGroups.exit}}</td>
								<td>{{dataGroups.read}}</td>
								<td>{{dataGroups.write}}</td>
								<td>{{dataGroups.entry  + dataGroups.exit + dataGroups.read + dataGroups.write}}</td>
								<td>{{dataGroups.comment}}</td>
								<td><button class="btn btn-default" ng-click="deleteDataGroup(dataGroups, data)">Delete</button></td>
							</tr>
						</table>
						<div>
							<form class="form-inline col-xs-12">
								<div>
									<div class="form-group">
										<label class="control-label">Groupe de donnees</label>
										<div>
												<input id="dataGroupEntery" type="text" class="form-control" ng-model="dataGroups.name">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Mouvement</label>
										<div>
											<input type="text" class="form-control" ng-model="dataGroups.movement">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Commentaire</label>
										<div>
											<input type="text" class="form-control" ng-model="dataGroups.comment"
											ng-keydown="($event.keyCode == 13 || $event.keyCode == 9) && 
											addDataGroups(dataGroups, data)">
										</div>
									</div>
								</div>
							</form>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>
	
	
	<script type="text/ng-template"  id="process.html">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" style="padding-top: 20px;">
					<div class="row">
						<div class="col-md-8">
							<button class="btn btn-success" ng-click="data.collapsed=!data.collapsed" style="width: 200px;float: left; padding:0px 10px 0px 10px;">
								<h6 style="float: left;">Systeme</h6>
								<h6 style="float: left;" ng-show="data.process.length > 0 && data.collapsed">+</h6>
								<h6 style="float: left;" ng-show="data.process.length > 0 && !data.collapsed">-</h6>
							</button>
							<div style="float:left; heigth: 10px; width:40%">
								<input type="text" class="form-control" id="comment" ng-model="data.name"/>
							</div>
						</div>
						
						
						<div class="col-md-4">
							<button class="btn btn-default" ng-click="addProcess(data)">Add System</button>
					    	<button class="btn btn-danger" ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete</button>
						</div>
					</div>
					
					<div ng-show="!data.collapsed">
						<ul class="list-unstyled" ng-app="Application" ng-controller="TreeController">
							<li ng-repeat="data in data.layers[0].process" ng-include="'dataGroups.html'"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</script>
	
	
	<script type="text/ng-template"  id="mesure.html">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" style="padding-top: 20px;">
					<div class="row">
						<div class="col-md-10">
							<button class="btn btn-primary" ng-click="data.collapsed=!data.collapsed" style="width: 100%;float: left; padding:0px 10px 0px 10px;">
								<h6 style="float: left;">Mesure</h6>
								<h6 style="float: left;" ng-show="data.nodes.length > 0 && data.collapsed">+</h6>
								<h6 style="float: left;" ng-show="data.nodes.length > 0 && !data.collapsed">-</h6>
							</button>
						</div>
						
						
						<div class="col-md-2">
							<button class="btn btn-default" ng-click="addSystem(data)">Add System</button>
						</div>
						
						
					</div>
					
					<div ng-show="!data.collapsed">
					    <ul class="list-unstyled">
					        <li ng-repeat="data in data.systems" ng-include="'process.html'"></li>
					    </ul>
					</div>
				</div>
			</div>
		</div>
	</script>
	<div class="alert alert-danger alert-dismissible text-center" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span ara-hidden="true">&times;</span></button>
		<strong>Erreur!</strong> Message d'erreur / confirmation
	</div>
	
	<div>
		<ol class="breadcrumb" style="background-color:#FFFFFF;">
			<li><span class="glyphicon glyphicon glyphicon glyphicon-briefcase" aria-hidden="true"></span><a href="#">Organisation Nom</a></li>
			<li><a href="#"><strong>Projet Nom</strong></a></li>

			<button class="btn btn-default pull-right" type="button">
				<span class="glyphicon glyphicon glyphicon-transfer" aria-hidden="true"></span>Processus
				<span class="badge">147</span></button>
			
			<button class="btn btn-default pull-right" type="button">
				<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>Couches
				<span class="badge">23</span></button>
			
			<button class="btn btn-default pull-right" type="button">
				<span class="glyphicon glyphicon glyphicon-list-alt" aria-hidden="true"></span>Systemes  
				<span class="badge">5</span></button>
		</ol>

	</div>
	
	<div class="panel panel-default mesureProjet">
		<form>
			<div class="pull-left">
				<div class="form-group mesureForm">
					<label for="organisationNom">Organisation</label>
					<input type="text" class="form-control" id="organisationNom" placeholder="Nom de l'organisation">
				</div>
				<div class="form-group mesureForm pull-left">
					<label for="projetNom">Projet</label>
					<input type="text" class="form-control" id="projetNom" placeholder="Nom du projet">

				</div>
				<div class="pull-right checkbox mesureProjetType">
					<ul class="list-inline mesureTxtRotation">
						<li><label><input type = "checkbox">D&eacute;veloppement</label></li>
						<li><label><input type = "checkbox">Red&eacute;veloppement</label></li>
						<li><label><input type = "checkbox">Am&eacute;lioration</label></li>
					</ul>	
				</div>
				<div class="checkbox">
					<label><input type = "checkbox">Couches</label>
				</div>
			</div>
			
			

	   </form>
	</div>
	
	<ul class="list-unstyled" ng-app="Application" ng-controller="TreeController">
	    <li ng-repeat="data in mesure" ng-include="'mesure.html'"></li>
	</ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
