
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="/assets/javascripts/mesure.js"></script>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="myApp">

	<script type="text/ng-template"  id="dataGroups.html">
		<div id="dataEntery">
			<table class="table table-striped">
				<tr>
					<td><strong>processname de data.dataGroups</strong></td>
					<td><strong>E</strong></td>
					<td><strong>X</strong></td>
					<td><strong>R</strong></td>
					<td><strong>W</strong></td>
					<td><strong>Total</strong></td>
					<td><strong>Commentaire</strong></td>
				</tr>
				<tr ng-repeat="dataGroups in data.dataGroups">
					<td>{{dataGroups.name}}</td>
					<td>{{dataGroups.e}}</td>
					<td>{{dataGroups.x}}</td>
					<td>{{dataGroups.r}}</td>
					<td>{{dataGroups.w}}</td>
					<td>{{dataGroups.e + dataGroups.x + dataGroups.r + dataGroups.w}}</td>
					<td>{{dataGroups.commentaire}}</td>
				</tr>
			</table>
			<div >
				<form class="form-inline col-xs-12">
					<div>
						<div class="form-group">
							<label class="control-label">Groupe de donnees</label>
							<div>
								<input id="dataGroupEntery" type="text" class="form-control" ng-model="dataGroups.name">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Mouvement</label>
							<div>
								<input type="text" class="form-control" ng-model="dataGroups.movement">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Commentaire</label>
							<div>
								<input type="text" class="form-control" ng-model="dataGroups.commentaire"
								ng-keydown="($event.keyCode == 13 || $event.keyCode == 9) && 
								addDataGroups(dataGroups, data) && returnStartEditing($event)">
							</div>
						</div>
					</div>
				</form>						
			</div>
		</div>
	</script>
	
	
	<script type="text/ng-template"  id="process.html">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" style="padding-top: 20px;">
					<div class="row">
						<div class="col-md-8">
							<button class="btn btn-primary" ng-click="data.collapsed=!data.collapsed" style="width: 200px;float: left;">
								<h6 style="float: left;">{{data.name}}</h6>
								<h6 style="float: left;" ng-show="data.nodes.length > 0 && data.collapsed">+</h6>
								<h6 style="float: left;" ng-show="data.nodes.length > 0 && !data.collapsed">-</h6>
							</button>
						</div>
						
						
						<div class="col-md-4">
							<button class="btn btn-primary" ng-click="addProcess(data)">Add System</button>
					    	<button class="btn btn-danger" ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete</button>
						</div>
					</div>
					<ul class="list-unstyled" ng-app="Application" ng-controller="TreeController">
						<li ng-repeat="data in data.process" ng-include="'dataGroups.html'"></li>
					</ul>
				</div>
			</div>
		</div>
	</script>
	
	
	<script type="text/ng-template"  id="tree_item_renderer.html">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" style="padding-top: 20px;">
					<div class="row">
						<div class="col-md-8">
							<button class="btn btn-primary" ng-click="data.collapsed=!data.collapsed" style="width: 200px;float: left;">
								<h6 style="float: left;">{{data.name}}</h6>
								<h6 style="float: left;" ng-show="data.nodes.length > 0 && data.collapsed">+</h6>
								<h6 style="float: left;" ng-show="data.nodes.length > 0 && !data.collapsed">-</h6>
							</button>
						</div>
						
						
						<div class="col-md-4">
							<button class="btn btn-primary" ng-click="addSystem(data)">Add System</button>
					    	<button class="btn btn-danger" ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete</button>
						</div>
						
						
					</div>
					
					<div ng-show="!data.collapsed">
					    <ul class="list-unstyled">
					        <li ng-repeat="data in data.systems" ng-include="'process.html'"></li>
					    </ul>
					</div>
				</div>
			</div>
		</div>
	</script>
	<ul class="list-unstyled" ng-app="Application" ng-controller="TreeController">
	    <li ng-repeat="data in mesure" ng-include="'tree_item_renderer.html'"></li>
	</ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
