
@main("Homepage") {
    <form action="/api/systems/1" method="post">
		name : <input type="text" name="name" /> <br/>
		
		add : <input type="checkbox" name="add" value="1" /> <br/>
		delete : <input type="checkbox" name="delete" value="1" /> <br/>
		modify : <input type="checkbox" name="modify" value="1" /> <br/>
		unknown: <input type="checkbox" name="unknown" value="1" /> <br/>
		
		<input type="submit"/>
	</form>
	
	<form action="/api/systems/new/1" method="post">		
		creer system <input type="submit"/>
	</form>
	
	
	<form action="/api/process/new/1" method="post">		
		creer process <input type="submit"/>
	</form>
	
	<form action="/api/process/1" method="post">
		name : <input type="text" name="name" /> <br/>
		
		add : <input type="checkbox" name="add" value="1" /> <br/>
		delete : <input type="checkbox" name="delete" value="1" /> <br/>
		modify : <input type="checkbox" name="modify" value="1" /> <br/>
		unknown: <input type="checkbox" name="unknown" value="1" /> <br/>
		
		<input type="submit"/>
	</form>
	
	<form action="/api/datagroups/new/1" method="post">		
		creer datagroup <input type="submit"/>
	</form>
	
	<form action="/api/datagroups/1" method="post">
		name : <input type="text" name="name" /> <br/>
		movement : <input type="text" name="movement" /> <br/>
		comment : <input type="text" name="comment" /> <br/>
		
		entry : <input type="checkbox" name="entry" value="1" /> <br/>
		exit : <input type="checkbox" name="exit" value="1" /> <br/>
		read : <input type="checkbox" name="read" value="1" /> <br/>
		write: <input type="checkbox" name="write" value="1" /> <br/>
		
		<input type="submit"/>
	</form>
}
